@page
@model Formation_TP1.Pages.Restaurant.detailModel
@{
}

  <div >
        <h5 >Name: @Model.Restaurant.Name</h5>
        <h6 >Tel:@Model.Restaurant.cuisine</h6>
        <h6>Address: @Model.Restaurant.Address</h6>

    </div>